.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    height: 100vh;
}
.qr-link {
    padding: 100px;
    color: #B5B5B5;
    font-size: 200px;
}

@media (max-width: 1920px) {
    .qr-link {
        font-size: 32px;
    }
    .qr-img{
        width: 360px;
        height: 360px;
    }
}