.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main-page__body {
  width: 100%;
  max-width: 400px; 
  margin-top: 40px;
  padding: 0 18px;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  opacity: 0.6;
}


.main-page__input {
  width: 100%;
  padding: 17px 17px 17px 44px; 

  font-size: 14px;
  font-weight: 700;
  color: #fff;

  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.14),
    rgba(255, 255, 255, 0.05)
  );

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.main-page__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}


.main-page__btn {
  display: block;
  width: 100%;
  margin-top: 24px;
  padding: 17px;
  background: linear-gradient(135deg, var(--accent-start), var(--accent-end));
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}